# Maven
target/

# Eclipse
.settings/
.classpath
.project
bin/

# TestNG Reports
test-output/

# Logs
logs/

# Extent Reports
reports/

# Screenshots
screenshots/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
*.iml

# Temp
*.log
*.tmp
